.myvideo
{
    position: absolute;
    right: 10px;
    width: 150px;
    height: 150px;
    z-index :2;
    opacity: 0.7;
    bottom: 10px;

}

.thervideo
{
    position: absolute;
    right: 0px;
    width: 50%;
    top: 0px;
    z-index: -1;
}